beautifulsoup4     ==4.9.1
cryptography       ==3.0
dataclasses        ==0.6
dnspython          ==2.0.0
feedparser         ==5.2.1
html5lib           ==1.1
isodate            ==0.6.0
lxml               ==4.6.2
netifaces          ==0.10.9
PySocks            ==1.7.1
python-dateutil    ==2.8.1
pytz               ==2020.1
requests           ==2.24.0
scrypt             ==0.8.15
suds-jurko         ==0.6
tornado            ==6.0.4
tweepy             ==3.9.0
pydig              ==0.3.0
emoji-country-flag ==1.2.1
hurry.filesize     ==0.9
loguru             ==0.5.1
steam              ==1.0.2